
<html>
    <head>
	<link rel= "stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
      {% if title %}
      <title>{{ title }} - Jungo-Jungo</title>
      {% else %}
      <title>Welcome to Jungo-Jungo</title>
      {% endif %}
    </head>
    <body>
        <div>
		Jungo-Jungo:
		 <a href="{{ url_for('index') }}">Home</a>
		 <a href="{{ url_for('login') }}">Login</a>
		 <a href="{{ url_for('feedback') }}">Feedback</a>
		 <a href="{{ url_for('mission') }}">Mission</a>
`		 <a href="{{ url_for('') }}">
	</div>
        <hr>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<l1>{{ message }} </li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
